@import "src/lib/ui-kit/common/utils/colors";

.sidebar-theme-button {
  // highlight icon white on dark theme

  svg {
    color: #abb3bf;
  }

  &-theme-dark {
    &:hover {
      svg {
        color: $theme-white;
      }
    }
  }

  // highlight icon black on white theme
  &-theme-light {
    &:hover {
      svg {
        color: $theme-black;
      }
    }
  }
}
