@import "src/lib/ui-kit/common/utils/colors";

.sidebar-theme-button {
  height: 50px;

  // highlight icon white on dark theme
  &-theme-dark {
    &:hover {
      svg {
        color: $theme-white;
      }
    }
  }

  // highlight icon black on white theme
  &-theme-light {
    &:hover {
      svg {
        color: $theme-black;
      }
    }
  }
}
