.moveableWrapper {
  &__moveable {
    &:hover {
      // border
      box-shadow: 0 0 0 1px #4af;
    }
  }

  &.hideMoveableControl {
    cursor: move;

    :global(.rCS1ec1yfw) {
      :global(.moveable-control) {
        display: none;
      }
    }
  }

  &.hideMoveableControlBox {
    :global(.moveable-control-box) {
      display: none !important;
    }
  }
}
