@import "src/lib/ui-kit/common/utils/colors";

.toolbar {
  border-right: 1px solid #222;
  border-left: 1px solid #222;

  &-top {
    overflow-y: auto;
  }

  &-bottom {
    height: 50px;
    border-top: 1px solid $theme-black;
  }
}
